# depend and other things all module
node_modules/
frontend/node_modules/

# python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/

# SQLite database
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# vite
frontend/dist/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
.gitignore